* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-body-bg: #d8dae2;
    --color-light: #eff0f1;
    --color-white: #fff;
    --color-text: #222222;
    --color-accent: #ff6f61;
    --color-dark: #12122e;

    --transition: all 300ms ease;
}

body {
    background-color: var(--color-body-bg);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: var(--color-dark);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

main {
    background-color: var(--color-light);
    max-width: 70%;
    padding: 3rem;
    border-radius: 1rem;
}

.categories {
    display: flex;
    gap: 0.7rem;
    margin: 1rem 0 2rem;
    flex-wrap: wrap;
}

.category {
    background-color: var(--color-white);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    transition: var(--transition);
}

.category:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
}

.galleries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.gallery {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    border: 4px solid transparent;
}

.gallery:hover {
    border-color: var(--color-white);
    background: transparent;
}

.gallery_image-thumbnail img {
    aspect-ratio: 3/2;
    border-radius: 0.7rem;
}

.gallery_image-more {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.8rem;
}

.gallery_image-more img {
    min-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 0.7rem;
    object-fit: cover;
}